#formulario input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
}
#formulario textarea {
  background-color: transparent;
  border: 1px solid white;
}
#formulario label {
  color: white;
}
