#desinfeccion {
    background-image: url('../img/desinfeccion.png');
    background-size: cover;
    background-position: right;
    color: white;
}
#desinfeccion div {
    padding: 2rem 3rem;
}
#desinfeccion h3 {
    color: $celesteLetras;
}