footer {
  background-color: $grisOscuro;
  text-align: center;
  padding: 1rem 0 0 0;
}
footer div {
  padding: 2rem 0;
}
footer nav {
  padding: 1rem 0;
  background-color: white;
}
footer nav a {
  color: $grisOscuro;
}
footer h2 {
  color: white;
}

.back-to-top {
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e4473;
    color: #e2e2e2;
    width: 30px;
    height: 30px;
    padding: 3px;
    display:none;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  footer {
    padding: 4rem 0 0 0;
  }
}
