footer {
  background-color: $grisOscuro;
  text-align: center;
  padding: 2rem 0 0 0;
}
footer div {
  padding: 2rem 0;
}
footer nav {
  padding: 1rem 0;
  background-color: white;
}
footer nav a {
  color: $grisOscuro;
}
footer h2 {
  color: white;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  footer {
    padding: 4rem 0 0 0;
  }
}
