footer {
    background-color: $grisOscuro;
    text-align: center;
    padding: 2rem 0 0 0;
}
footer div {
    padding: 2rem 0;
}
footer nav {
    padding: 1rem 0;
    background-color: white;
}
footer nav a {
    color: $grisOscuro;
}