header {
  height: 100vh;
  background-image: url("../img/header.jpg");
  background-color: #6A6E91;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
header #logo {
  display: none;
}
header h1 {
  font-family: "Montserrat";
  font-size: 1.1rem;
  font-weight: 200;
  text-shadow: 1px 2px 2px black;
  color: white;
  letter-spacing: 0.4rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  text-align: center;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  header h1 {
    font-size: 2rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  header {
    background-position-y: unset;
  }
  header h1 {
    font-size: 1.7rem;
    letter-spacing: 0.7rem;
    bottom: 5%;
  }
}
