#nosotros {
    background-color: $azul;
    background-image: url('../img/nosotros.png');
    padding: 2rem 3rem;
    color: white;
    text-align: center;
}
#nosotros figure {
    padding: 2rem 0;
}