#redes {
  background-color: $grisClaro;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#redes a img {
  width: 60%;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #redes{
    padding: 2rem 30rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1600px) {
  #redes{
    padding: 2rem 45rem;
  }
}