* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}

input:focus {
  outline: 0;
}
textarea:focus {
  outline: 0;
}
label {
  display: flex;
  flex-direction: column;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.mt-1 {
  margin-top: 0.5rem!important;
}
.pt-2 {
  padding: 1rem 0 0 0 !important;
}
.pt-4 {
  padding: 2rem 0 0 0 !important;
}
.py-2 {
  padding: 1rem 0 !important;
}
.py-3 {
  padding: 1.5rem 0 !important;
}
.py-4 {
  padding: 2rem 0 !important;
}
.py-5 {
  padding: 3rem 0 !important;
}
.text-center {
  text-align: center !important;
}
.text-white {
  color: white !important;
}
.img-fluid {
  width: 100% !important;
}
